* {
  box-sizing: border-box;
}

body {
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

#content {
  margin: 0 auto;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

#title {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  margin: 15px 0 10px 0;
  cursor: pointer;
}

#body {
  max-width: 1400px;
  margin: auto;
}

.accessTokens {
  margin-bottom: 10px;
  display: flex;
}

.accessToken {
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  border: 1px solid rgb(225, 226, 228);
  border-radius: 3px;
  display: flex;
  margin-right: 10px;
}

.accessTokenName {
  margin: auto;
}

.accessToken:hover {
  border-color: rgb(2, 206, 255);
  color: rgb(2, 206, 255);
}

.removeAccessToken {
  text-align: center;
  display: none;
  color: rgb(225, 226, 228);
  margin: auto 0px auto 10px;
  cursor: pointer;
}

.accessToken:hover .removeAccessToken {
  display: block;
  color: rgb(2, 206, 255);
}

.newAccessToken {
  display: flex;
}

.expandAccessTokenForm {
  cursor:pointer;
  width: 16px;
  height: 16px;
  border: 1px solid rgb(225, 226, 228);
  border-radius: 8px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: rgb(225, 226, 228);
}

.expandAccessTokenForm:hover {
  color: rgb(2, 206, 255);
  border-color: rgb(2, 206, 255);
}

.expandAccessTokenForm span {
  margin: auto;
}

.newAccessTokenInput {
  margin-right: 5px;
}

.tasks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tasksHeader {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
}

.tasksHeader:hover {
  color: rgb(2, 206, 255);
  fill: rgb(2, 206, 255);
}

.tasksHeaderTriangleIcon {
  width: 16px;
  height: 16px;
}

.tasksHeaderTriangleIcon.closed path {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.task {
  height: 36px;
  border-bottom: 1px solid rgb(225, 226, 228);
  display: flex;
}

.taskDragHandle {
  width: 16px;
  height: 16px;
  margin: auto 4px auto 0px;
  fill: rgb(225, 226, 228);
  visibility: hidden;
  cursor: move;
}

.task:hover .taskDragHandle {
  visibility: visible;
}

.taskCompletionButton {
  cursor: pointer;
  border: 1px solid rgb(225, 226, 228);
  border-radius: 9px;
  width: 18px;
  height: 18px;
  display: flex;
  margin: auto 9px auto 0px;
}

.taskCompletionButton svg
{
  margin: auto;
  fill: rgb(225, 226, 228);
  width: 12px;
  height: 12px;
}

.taskWorkspaceAndTitle {
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.taskWorkspace {
  font-size: 10px;
  color: rgb(175, 177, 182);
}

.taskTitle {
  border: 0;
  padding: 0px;
  flex:1;
  font-size: 12px;
}

.taskTitleAsHeader {
  display: flex;
}

.taskTitleAsHeader h3 {
  margin: auto;
  font-size: 18px;
  font-weight: bold;
}

.taskTitle:focus{
  outline: none;
}

.datePickerContainer {
  display: flex;
}

.elm-datepicker--container {
  display: none;
  margin: auto 0 auto 0;
}

.task:hover .elm-datepicker--container {
  display: block;
}

.datePicker {
  margin: auto;
}

.task:hover .datePicker {
  display: none;

}

.fakeDropView {
  height: 15px;
}

.onTop {
  border-top: 1px solid black;
}

#footer {
  border-top: 1px solid black;
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
