* {
  box-sizing: border-box;
}

body {
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

#content {
  margin: 0 auto;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

#title {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  margin: 15px 0 10px 0;
  cursor: pointer;
}

#body {
  max-width: 1400px;
  margin: auto;
}

.accessTokens {
  margin-bottom: 10px;
  display: flex;
}



.accessToken {
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  border: 1px solid rgb(225, 226, 228);
  border-radius: 3px;
  display: flex;
  margin-right: 10px;
}

.accessTokenName {
  margin: auto;
}

.accessToken:hover {
  border-color: rgb(2, 206, 255);
  color: rgb(2, 206, 255);
}

.removeAccessToken {
  text-align: center;
  display: none;
  color: rgb(225, 226, 228);
  margin: auto 0px auto 10px;
  cursor: pointer;
}

.accessToken:hover .removeAccessToken {
  display: block;
  color: rgb(2, 206, 255);
}

.newAccessToken {
  display: flex;
}

.expandAccessTokenForm {
  visibility: hidden;
  cursor:pointer;
  width: 16px;
  height: 16px;
  border: 1px solid rgb(225, 226, 228);
  border-radius: 8px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: rgb(225, 226, 228);
}

.accessTokens:hover .expandAccessTokenForm{
  visibility: visible;
}

.expandAccessTokenForm:hover {
  color: rgb(2, 206, 255);
  border-color: rgb(2, 206, 255);
}

.expandAccessTokenForm span {
  margin: auto;
}

.newAccessTokenInput {
  margin-right: 5px;
}

.workspaces {
  display: flex;
  margin-bottom: 15px;
}

.workspace {
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
  padding: 2px 5px 2px 5px;
  border: 1px solid rgb(225, 226, 228);
  border-radius: 3px;
}

.workspace.default {
  cursor: default;
  font-weight: bold;
  border-color: #000;
}

.tasks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tasksHeader {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
}

.tasksHeader:hover {
  color: rgb(2, 206, 255);
  fill: rgb(2, 206, 255);
}

.tasksHeaderTriangleIcon {
  width: 16px;
  height: 16px;
}

.tasksHeaderTriangleIcon.closed path {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.task {
  height: 36px;
  border-bottom: 1px solid rgb(225, 226, 228);
  display: flex;
}

.taskDragHandle {
  width: 16px;
  height: 16px;
  margin: auto 4px auto 0px;
  fill: rgb(225, 226, 228);
  visibility: hidden;
  cursor: move;
}

.task:hover .taskDragHandle {
  visibility: visible;
}

.taskCompletionButton {
  cursor: pointer;
  border: 1px solid rgb(225, 226, 228);
  border-radius: 9px;
  width: 18px;
  height: 18px;
  display: flex;
  margin: auto 9px auto 0px;
}

.taskCompletionButton:hover {
  border-color: #37C597;
}

.taskCompletionButton:hover svg
{
  fill: #37C597;
}

.taskCompletionButton svg
{
  margin: auto;
  fill: rgb(225, 226, 228);
  width: 12px;
  height: 12px;
}

.taskWorkspaceAndTitle {
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.taskWorkspace {
  font-size: 10px;
  color: rgb(175, 177, 182);
}

.taskTitle {
  border: 0;
  padding: 0px;
  flex:1;
  font-size: 12px;
}

.taskTitleAsHeader {
  display: flex;
}

.taskTitleAsHeader h3{
  margin: auto;

}

.taskTitleAsHeader .taskTitle {
  font-size: 18px;
  font-weight: bold;
}

.taskTitle:focus{
  outline: none;
}

.taskUrl {
  display: none;
  margin: auto 0px auto 10px;
  text-decoration: none;
  font-size: 14px;
  color: black;
}

.taskUrl:hover {
  text-decoration: underline;
}

.task:hover .taskUrl {
  display: block;
}

.datePickerContainer {
  margin-left: 10px;
  display: flex;
}

.elm-datepicker--container {
  display: none;
  margin: auto 0 auto 0;
}

.elm-datepicker--picker {
  background-color: #fff;
}

.elm-datepicker--input {
  width: 70px;
}

.task:hover .elm-datepicker--container {
  display: block;
}

.datePicker {
  margin: auto;
  font-size: 12px;
}

.datePicker.today {
  color: #37C597;
}

.datePicker.overdue {
  color: #FC636B;
}

.task:hover .datePicker {
  display: none;

}

.taskAssigneeStatusContainer {
  position: relative;
  display: flex;
}

.taskAssigneeStatus {
  visibility: hidden;
  border: 2px solid rgb(225, 226, 228);
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin: auto 5px auto 5px;
  cursor: pointer;
}

.taskAssigneeStatus:hover {
  border-color: rgb(2, 206, 255);
}

.task:hover .taskAssigneeStatus {
  visibility: visible;
}

.taskAssigneeStatusOverlay {
  background-color: #fff;
  position: absolute;
  border: 1px solid rgb(225, 226, 228);
  border-radius: 3px;
  padding: 3px 0 3px 0;
  list-style-type: none;
  left: 5px;
  top: 25px;
  width: 130px;
  z-index: 1000;
}

.taskAssigneeStatusOverlayItem {
  font-size: 12px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
}

.taskAssigneeStatusOverlayItem:hover {
  color: #fff;
  background-color: rgb(2, 206, 255);
}

.fakeDropView {
  height: 15px;
}

.onTop {
  border-top: 1px solid black;
}

#footer {
  border-top: 1px solid black;
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
